# This is intended for local testing of your production environment only


version: '2'

services:
  postgres:   
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Admin123
    restart: always
    image: postgres
    ports:
      - "5432:8001"
    expose:
      - "5432"

  app:
    depends_on:
      - postgres
    build:
      context: .
      dockerfile: ./Dockerfile
    links:
      - postgres
    ports:
      - "8000:8000"
